In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

## One-Tailed T-Test

In [13]:
question1 = pd.read_excel("machine.xlsx")
question1.head()

# H0 machines takes the same amount of time to pack
# H1 new machine takes less time to pack
# alpha = 5%

   new machine  old machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5

In [16]:
stat, pvalue = st.ttest_ind(question1['new machine'], question1['old machine'])

print('stat: ', stat)
print('pvalue: ', pvalue/2)

# pvalue is low so we reneg the H0 hypothesis - which means the machines do not take the same time to pack
# since our stat value is negative we can conclude the new machine takes less time to pack than the new one
# (inversly proportional)

stat:  -3.3972307061176026
pvalue:  0.0016055712503872579

## Matched Pairs

In [21]:
question2 = pd.read_csv("pokemon.csv")

question2_avd = question2[['Attack','Defense']]
question2_avd.head()

# H0 : Attack Score = Defense Score
# H1 : Attack Score != Defense Score

   Attack  Defense
0      49       49
1      62       63
2      82       83
3     100      123
4      52       43

In [24]:
stat, pvalue = st.ttest_rel(question2_avd['Attack'], question2_avd['Defense'])

print('stat: ', stat)
print('pvalue: ', pvalue)

# pvalue is very low, so I refuse the H0 hypothesis - the attack and defense scores are not the same

stat:  4.325566393330478
pvalue:  1.7140303479358558e-05